html, body {
  margin: 0px;
  /*overflow: hidden;*/
  /*background-color: #ffffff;*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #555;
}

body{
	position:relative;
	min-height:100%;
}	

h1{
	margin: 20px;
	text-align:center;
}

h2{
	text-align:center;
}

img{
	display: block;
    margin-left: auto;
    margin-right: auto 
}

div.columns h2{
	text-align:left;
	margin: 0 0 0 20px;
}

img.unselected {
	width: 20%;
	margin: 2%;
	padding: .5%;
	background-color: #ccc;
	display: inline;
}

img.selected {
	width: 20%;
	padding: 2.5%;
	background-color: #ccc;
}

div.nav{
	display: inline-block;
	position:absolute;
	top:40%;
	width:auto;
}

div.youtube {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display:block;
	width:700px;
}

nav {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
	text-align: center;
}

nav div{
	display: inline-block;
	vertical-align: bottom;
	border-left: 1px solid #ccc; 
}

nav ul{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	float:left;
}

nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #444;
	border-right: 1px solid #ccc; 
}

nav li span {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #444;
	border-right: 1px solid #ccc; 
	height: 100%;
}

.active {
	background-color: #fff;
}

nav li a:hover {
	color: #00c;
	background-color: #ccc; 
}

#quote{
	color: #2300A1;
	text-align: center;
	/*margin: 10px 20px -10px 20px;*/
	margin-top: 10px;
	display:inline-block;
	width:100%;
	font-weight: bold;
}

.content {
	max-width: 968px;
	margin: 0 auto;
	padding: 50px 30px;
}

canvas#header{
	display:block;
}

div.left{
    background-image: url('/img/arc_edge_left.jpg') ;
	background-repeat: repeat-y;
	width:100px;
    z-index: -1;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
}

div.right{
    background-image: url('/img/arc_edge_right.jpg') ;
	background-repeat: repeat-y;
	width:100px;
    z-index: -1;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
}

form div.label{
	margin-top: 20px;
}

form div.message{
	display: inline;
	color: red;
}

