body {
	background-color: black;
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
}


#game{
	background-color: red;
	float: left;
}

.hide_cursor{
	cursor: url(/img/dot.gif), pointer;
}

#todo h1 {
	padding-left: 10px;
	font-size: 16pt;
}
#todo ul{
	margin: 0;
}

.done {
	text-decoration:line-through;
	color: #333333;
}

.todo {
	font-weight: bold;
}

.urgent {
	color: #aa0000;
	font-weight: bold;
}

.unimportant {
	color: #555;
}

.content {
	margin: 30px;
	height: 90%;
}

#tools {
	border: dotted;
	overflow: hidden;
	height: 90%;
}

#tabs {
	/*background-color:red;*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 30px;
}

#tabs li{
	float: left;
}

#tabs li a{
	display: block;
	padding: 8px  24px;
	margin: 0 2px;
	text-decoration: none;
	background-color: #333333;
	color: grey;
}

.codediv {
	height: 100%;
}

p {
	margin-top: -15px;
}

a{
	color: white;
}

.report{
	padding-bottom: 20px;
}

.col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  height: 95%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 2px 5px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	background-color: aaaaaa;
	resize: vertical;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 17px;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
}