<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/BES-2018/style/play.css" />
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet"> 
<!--
    <script src="script/control.js"></script>
    <script src="static/BES/scripts/level_select.js"></script>
</head>
<body onload="init()">
-->
</head>
<body>
    <h1>Barnstead Elementary School 2018</h1>
	<div>
	<a href="/BES-2018">Click here</a> to play a level from the 2018 Artist In Residence program. 
	Note: These levels are still under construction. If the level you're looking for is 
	missing or broken, don't fret! It probably means I just haven't finished it yet.
	</div>

	<h1>Barnstead Elementary School 2015</h1>
	<div>
	<a href="/BES-2015">Click here</a> to play a level from 2015.
	</div>

    </div>
</body>
</html>