<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="static/BES/style/main.css" />
	<script src="/static/BES/scripts/control.js"></script>
	<!--<script src="script/physics.js">-->
	<!--<script src="script/objects.js"></script>-->
	<script src="/static/BES/level_scripts/lvl{{ num }}.js"></script>
	<script src="/static/BES/scripts/display.js"></script>
</head>
<body onload='init()'>
	<div id='top'></div>
	<div class="nav" id="menu">
		<div class="menu_list" id="menu_list">
			<ul>
				<li>
					<a href = "/report?lvl={{ num }}">
						Submit Report
					</a>
				</li>
				<li>
					<a href="#" id="normalsize">
						Normal Size
					</a>
				</li>
				<li>
					<a href="#" id="fullscreen">
						Full Screen
					</a>
				</li>
				<li>
					<a href='/BES'>
						Level Select
					</a>
				</li>
			</ul>
		</div>
		<div class="menu_button">
			<div class="pad"></div>
			<a href="#" id="menu_button" class="button">MENU</a>
			<!--<input type="button" value="MENU" id="menu_button"><!-- -->
			<div class="pad"></div>
		</div>
	</div>



</body>
</html>