<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<script src="/static/BES-2018/scripts/create.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/BES-2018/style/upload.css">

</head>
<body>
<div>
	<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
		<div>
			<input type="text" id="lvl" name="lvl" placeholder="Level Name" />
			<span class="error" id="error" />
		</div>
		<div>
			<input type="text" id="id" name="id" placeholder="Level ID" />
			<!--span class="error" id="error" /-->
		</div>
		<input type="button" value="Create Level" id="create"/>
	</form>
</div>
<div>
	<a href="/upload">Upload Images and Audio to Level</a>
</div>
<ul id="filenames"></ul>

<body>